// width
$max-width: 375px;

// color
$primary-color: #9B8BDA;
$primary-back-color: #E0EAFF;
$accent-color: #BC31EA;
$accent-back-color: #F7DEFF;
$new-color: #C6BFE1;
$new-back-color: #F0F5FF;
$price-color: #CB2929;
$default-back-color: #EEEEEE;
$ad-back-color: #BCBABA;

ul, li {
  padding: 0;
  list-style: none;
}

.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  padding: 55px 0 60px;
  min-height: 100vh;

  .item-list {
    margin: 0 -15px;
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
        height: 202px;
        padding: 0 15px;
        margin-bottom: 20px;

        .item {
          display: block;
          position: relative;

          .img-wrapper {
            height: 140px;
            margin-bottom: 14px;

            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .like-wrapper {
            position: absolute;
            right: 0;
            z-index: 10;
            cursor: pointer;
          }

          .time-wrapper {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
            font-size: 12px;
            color: #706A6A;
            display: flex;

            span {
              margin-left: 3px;
            }
          }

          .title, .price {
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #706A6A;
          }

          .price {
            width: 70%;
          }
        }
      }
    }
  }
}

.btn {
  color: #fff;
  min-width: 55px;
  height: 55px;
  font-size: 20px;
  border-radius: 20px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &:focus, &:active, &:hover {
    color: #fff;
  }
}

.btn2 {
  color: #fff;
  min-width: 55px;
  height: 33px;
  font-size: 15px;
  border-radius: 5px;
  background-color: $new-color;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &:focus, &:active, &:hover {
    color: #fff;
  }
}

// 헤더
#header {
  max-width: $max-width;
  width: 100%;
  height: 55px;
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  .new, .back, .notify {
    width: 18.5%;
  }

  .new {
    display: none;
  }

  div {
    text-align: center;
  }
}

// 하단 네비게이션
#navigation {
  max-width: $max-width;
  width: 100%;
  height: 60px;
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;

  ul {
    display: flex;
    height: 100%;

    li {
      width: 20%;
      border-top: 2px solid #AAA;
      text-align: center;

      &.active {
        border-top: 2px solid #074EE8;
      }

      a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          display: block;
          width: 28px;
        }
      }
    }
  }
}

#item_form {
  .title {
    width: 100%;
    height: 55px;
    color: $primary-color;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
  }

  .form_step_tab {
    height: 55px;

    ul {
      display: flex;
      height: 100%;

      li {
        width: calc(100% / 3);
        height: 100%;
        text-align: center;
        color: #9E9E9E;
        font-size: 16px;
        border-bottom: 3px solid $new-color;
        cursor: pointer;
        font-weight: 300;

        &.active {
          color: $primary-color;
          border-bottom: 3px solid $primary-color;
        }
      }
    }
  }

  .ad {
    width: 100%;
    height: 52px;
    background: $ad-back-color;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    margin-top: 2px;
    margin-bottom: 20px;
  }

  .from_step_content {
    & > div {
      padding: 0 30px;
      display: none;
    }

    select {
      background: url(/static/img/select-icon.svg) no-repeat right 10px center;
    }

    .form-group {
      margin-bottom: 25px;

      label {
        font-size: 14px;
        font-weight: 300;
        color: #767676;
        margin-bottom: 4px;
      }

      .form-control {
        border: 2px solid #AAA;
        font-size: 16px;
        color: #111;
        width: 100%;
        height: 45px;
      }

      textarea.form-control {
        min-height: 140px;
      }

      .file-btn {
        width: 75px;
        height: 75px;
        border: 2px solid #AAA;
        background-color: $default-back-color;
        cursor: pointer;

        .cross-sign {
          background: #AEAEAE;
          height: 25px;
          position: relative;
          width: 3px;

          &:after {
            background: #AEAEAE;
            content: "";
            height: 3px;
            left: -11px;
            position: absolute;
            top: 11px;
            width: 25px;
          }
        }
      }

      .nego-label {
        font-size: 16px;
        color: #111;
        font-weight: 400;
        line-height: 21px;
      }
    }

    .btn {
      width: 210px;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .btn2 {
      width: 100%;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}

#chart-wrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;

  .content {
    width: 90%;
    height: 80%;
    background-color: #fff;
    padding: 40px 25px;
    position: relative;

    .title {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      color: #111;
      margin-bottom: 45px;

      .img-wrapper {
        width: 35%;
      }

      .text {
        width: 65%;
        text-align: center;
      }
    }

    .chart {
      img {
        display: block;
        margin: 0 auto;
      }

      margin-bottom: 45px;
    }

    .info {
      font-size: 13px;
      color: #5F5F5F;
      margin-bottom: 20px;

      p {
        margin-bottom: 2px;
      }
    }
  }
}

#sell-normal, #sell-auction, #sell-reverse {
  .content {
    padding: 0 15px 80px;
  }

  .header {
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: space-between;
  }

  .back {
    width: 57px;
    height: 57px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../sell/image/back.png");
  }

  .logo {
    width: 74px;
    height: 23px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../../sell/image/logo.png");
    margin: auto;
  }

  .notify {
    width: 57px;
    height: 57px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: content-box;
    background-image: url("../../sell/image/notify.png");
  }

  .item-image {
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../sell/image/thumbnail.jpg");
    /* background-size: contain; */
    background-size: cover;
    /* border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #aaaaaa; */
  }

  .ring-fit {
    background-image: url('../../sell/image/ringfit.jpg');
  }

  .just-switch {
    background-image: url('../../sell/image/switch.jpg');
  }

  .sell-status {
    width: 61px;
    height: 28px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #9b8bda;
    border-radius: 1em;
    color: white;
    font-size: 12px;
  }

  .left {
    width: 24px;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../sell/image/left.png");
  }

  .right {
    width: 24px;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../sell/image/right.png");
  }

  .item-info {
    margin-top: 10px;
    display: flex;
    justify-content: left;
  }

  .trade-status {
    z-index: -999;
    width: 71px;
    height: 28px;
    padding: 5px;
    margin-right: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C6BFE1;
    border-radius: 1em;
    color: white;
    font-size: 12px;
  }

  .item-title {
    z-index: -999;
    height: 28px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767676;
    font-weight: bold;
    font-size: 16px;
  }

  .item-detail {
    margin-top: 5px;
    color: #767676;
  }

  .price {
    margin-top: 5px;
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: flex-end; /* 오른쪽 */
    color: #CB2929;
    font-weight: bold;
    font-size: 24px;
  }

  .seller-info {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 50px;
  }

  .seller {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .seller-set {
    display: flex;
    justify-content: left;
    align-items: flex-end;
  }

  .seller-icon {
    width: 42px;
    height: 42px;
  }

  /* 부트스트랩 때문에 */
  .no-margin {
    margin: 0;
  }

  .seller-id {
    height: 42px;
    display: flex;
    align-items: flex-end;
  }

  .user-name {
    font-size: 16px;
    font-weight: bold;
  }

  .user-address {
    font-size: 14px;
    color: #aaaaaa;
  }

  .ludo-value {
    color: #aaaaaa;
  }

  .ludo-number {
    color: #9B8BDA;
    font-size: 17px;
    font-weight: bold;
  }

  .ludo-bar {
    margin-top: 5px;
    width: 100%;
    height: 8px;
    background-color: #dddddd;
  }

  .ludo-real-bar {
    width: 78%;
    height: 8px;
    background-color: #9B8BDA;
  }

  .description {
    border-top: 2px solid #dcdcdc;
    margin-top: 20px;
    padding-top: 20px;
  }

  .description-header {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .des-title {
    font-size: 16px;
    font-weight: bold;
  }

  .des-info {
    margin-left: 5px;
    font-size: 14px;
    color: #aaaaaa;
  }

  .description-content {
    margin-top: 10px;
  }

  .description-content > p {
    margin-bottom: 2px;
  }

  .more-button {
    color: #9b8bda;
    /* text-decoration: underline; */
    padding-bottom: 20px;
    border-bottom: 2px solid #dcdcdc;;
  }

  .price-trend {
    margin-top: 20px;
  }

  .price-option {
    margin-top: 10px;
    width: 100%;

    .btn {
      width: calc(100% / 3);
      height: 35px;
      border-radius: 0;
      border-width: 2px;
      font-size: 16px;
      font-weight: 400;
      z-index: unset;

      &:first-of-type {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: 0;
      }

      &:nth-of-type(2) {
        z-index: 1;
      }

      &:last-of-type {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: 0;
      }
    }
  }

  /* 부트스트랩 덮어쓰기 */
  .btn-outline-primary {
    background-color: white !important;
    color: #9B8BDA !important;
    border-color: #9B8BDA !important;
  }

  /* 부트스트랩 덮어쓰기 */
  .btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #9B8BDA !important;
    border-color: #9B8BDA !important;
    background-color: #E0EAFF !important;
  }

  .price-graph {
    margin-top: 15px;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('../../sell/image/graph.png');
  }

  .footer {
    z-index: 999;
    border-top: 2px solid #9b8bda;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 60px;
    max-width: $max-width;
    width: 100%;
    margin: auto;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .left-container {
    display: flex;
    justify-content: flex-start;
  }

  .favorite {
    margin-left: 10px;
    margin-right: 10px;
    width: 34px;
    height: 56px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../sell/image/like-empty.png");
  }

  .split {
    border: 1px solid #dcdcdc;
    width: 1px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .footer-price {
    margin-left: 10px;
    width: 100px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }

  .price-input {
    width: 150px;
  }

  .buy-button {
    width: 100px;
    height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .btn-primary-normal {
    width: 180px;
    height: 35px;
    background-color: #9b8bda !important;
    border-color: #9b8bda !important;
    font-size: 16px;
    border-radius: 4px;
  }

  .btn-primary-auction {
    width: 100px;
    height: 35px;
    background-color: #9b8bda !important;
    border-color: #9b8bda !important;
    font-size: 16px;
    border-radius: 4px;
  }

  /* for sell2.php */

  .small-price {
    font-size: 18px;
    font-weight: normal;
  }

  .trade-status-false {
    background-color: #F7DEFF;
  }

  .price-now {
    color: #767676;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    line-height: 20px;
  }

  .time-left {
    margin: 20px;
    padding: 5px;
    border: 2px solid #aaaaaa;
    border-radius: 1em;
  }

  .time-box {
    text-align: center;
    color: #9b8bda;
    font-size: 19px;
    font-weight: bold;

    img {
      display: inline-block;
      position: relative;
      left: -25px;
      top: -2px;
    }
  }

  .current-bid {
    margin-top: 20px;
    /* padding-bottom: 20px; */
    border-bottom: 2px solid #dcdcdc;
  }

  .title-box {
    display: flex;
    justify-content: space-between;
  }

  .show-all {
    color: #706A6A;
  }

  .table-text {
    color: #767676 !important;
  }

  .td2 {
    text-align: right;
  }
}

#mypage {
  padding-left: 14px;
  padding-right: 14px;

  .profile-container{
    height: 100px;
    display: flex;
    justify-content: space-around;
  }

  .profile-image {

  }

  .vertical-set {
    width:220px;
  }

  .user-info {
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
  }

  .user-name {
    height: 32;
    margin-right: 7px;
    font-size:24px;
    font-weight: bold;
    color: #706A6A;
    display: flex;
  }

  .user-info {
    font-size:14px;
    color: #706A6A;
    display: flex;
  }

  .ludo-value {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color:#706A6A;
  }

  .ludo-bar {
    margin-top: 5px;
    width: 100%;
    height: 8px;
    background-color: #dddddd;
    margin-bottom: 20px;
  }

  .ludo-real-bar {
    width: 32%;
    height: 8px;
    background-color: #9B8BDA;
  }

  .main-icon-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .icon-text, .icon {
    color:#706A6A;
    display: flex;
    justify-content: center;
  }

  .up-border {
    border-top:1px solid #E2E2E2;
  }

  .down-border {
    border-bottom:1px solid #E2E2E2;
  }

  .menu-box {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    margin-left:10px;
    width: 40px;
    margin-right : 15px;
    display: flex;
    justify-content: center;
  }

  .menu-text {
    width:250px;
    color: #9B8BDA;
    font-weight: bold;
    font-size: 17px;
  }

  .menu-button {
    display: flex;
    justify-content: flex-end;
    width:40px;
    margin-right:10px;
  }
  
}

#certify {
  padding-left:14px;
  padding-right:14px;

  .certify-title {
    margin-top:5px;
    color:#9B8BDA;
    font-weight: bold;
    font-size: 19px;
    display: flex;
    justify-content: flex-start;
  }

  .ludo-value {
    color:#706A6A;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
  }

  .ludo-bar {
    margin-top: 5px;
    width: 100%;
    height: 8px;
    background-color: #dddddd;
    margin-bottom: 20px;
  }

  .ludo-real-bar {
    width: 32%;
    height: 8px;
    background-color: #9B8BDA;
  }

  .down-border {
    border-bottom:1px solid #E2E2E2;
  }

  .certify-box {
    height: 91px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-color: grey;

    .box-icon {
      width:70px;
      display: flex;
      justify-content: center;
    }

    .box-text {
      width:90px;
      color:#706A6A;
      display: flex;
      justify-content: flex-start;
    }

    .box-label {
      visibility: hidden;
    }
  }

  .certified {
    background-color: rgba(155, 139, 218, 0.2);
    .box-label {
      visibility: visible;
    }
  }


}
#mainpage{
  .advertisement{
    width: 100%;
    height: 228px;
    /*position: absolute;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    /*border-radius: 1em;*/
    color: white;
    font-size: 18px;
    
  }
  .searchbox{
    width:100%;
    font-size:12px;
    display:flex;
    justify-content: center;
    input::placeholder {
      color:blueviolet;
    }
    .searchbutton{
      width:32px;
      height:32px;
      background-image: url("./../img/magnifying.png");
    }
  }
  .category{
    width:100%;
    height:200px;
    
    display:flex;
    justify-content: space-around;
  
    .categorylist{ /* 카테고리 리스트 변경해도 됩니다*/
      
      ul {
        list-style:none;
        margin:0;
        padding:0;
    }
    
    li {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border : 0;
        float: left;
    }
    }
  }
}


#top_item_list {
  padding: 55px 25px 60px;

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;

    .title {
      font-size: 19px;
      color: $primary-color;
      font-weight: 600;
    }

    .filter-wrapper {
      span {
        margin-right: 5px;
      }

      select {
        display: inline-block;
        width: auto;
        font-size: 15px;
        line-height: 15px;
        background: url(/static/img/select-icon.svg) no-repeat right 10px center;
        background-size: 12px;
        position: relative;
        top: 2px;
      }
    }
  }
}

#main {
  padding-left: 15px;
  padding-right: 15px;

  .banner {
    margin: 0 -15px;
    background: $ad-back-color;
    width: $max-width;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  }

  .search-wrapper {
    height: 36px;
    width: 100%;
    border: 2px solid $primary-color;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: $primary-color;
    margin-top: 30px;
    margin-bottom: 30px;

    input {
      border: 0;
      width: 90%;
      padding: 0 10px;
      height: 100%;

      &:focus {
        border: none;
        outline: none;
        outline-style: none;
        -moz-outline-style: none;
      }

      &::placeholder {
        color: $primary-color;
      }
    }

    button {
      border: 0;
      background: 0;
    }
  }

  .cate-wrapper {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      li {
        width: calc(100% / 3);
        text-align: center;
        margin-bottom: 25px;
        font-size: 16px;
        color: #111;

        a {
          display: block;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .recommend-item-wrapper {
    p {
      font-size: 17px;
      color: #706A6A;
      margin-bottom: 15px;
    }
  }
}